# Force the following filetypes to have unix eols, so Windows does not break them
*.* text eol=lf

# Exclude common image formats and PDF
*.png -text
*.jpg -text
*.jpeg -text
*.gif -text
*.bmp -text
*.tiff -text
*.tif -text
*.svg -text
*.ico -text
*.webp -text
*.pdf -text